body {
  font-family: 'League Spartan', sans-serif;
  font-size: 18px;
  color: #000;
  min-width: 320px;
  /*pentru a adapta saitul pentru alte obiecte tipa telefoane compuri planshet i nu da ca elementele sa fie strinse mai putin de 320 de px*/
  overflow-x: hidden;
  /*cind fac pagina mai mica elementele sa nu iasa din conteiner*/
  margin: 0;
  padding: 0;
}

.navbar__phone {
  display: none;

  background-color: rgb(0, 0, 0);

  width: 100%;

  height: 300px;
  margin-bottom: 100px;
}

.navbar__phone__menu {
  display: flex;

}

.navbar__phone__menu ul {
  border: 1px solid black;
  border-radius: 20px;
  background-color: #000;
  color: coral;
  padding: 26px;
  padding-top: 0px;
  align-items: center;
  list-style: none;
  gap: 5px;
  /* padding-left: 99px; */
  margin-left: 61%;
  flex-direction: column;
  display: flex;


}

.navbar__phone__menu ul a {
  border: 1px solid black;
  border-radius: 20px;
  background-color: #000;
  color: coral;
  padding: 10px;
  list-style: none;
  gap: 20px;
  text-decoration: none;

  flex-direction: column;
  display: flex;

}

.navbar__help__phone {
  margin-left: 5px;
}

.video {
  margin-left: 160px;
  margin-top: 50px;
  width: 400px;
  height: 250px;

}

.navbar {
  /*panelea de sus pentru sait*/
  width: 100%;
  height: 90px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
  display: flex;
  justify-content: space-between;
  /*primu element e in urma ultimul la sfirsit iar altele se pun intre ele intrun sir*/
  background: #fff;
  position: relative;
  z-index: 1000;
  /*elementul va fi deasupra elementelor cu z-index mai mic(aici nu trebuie) */
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%
}

.navbar-menu {
  list-style-type: none;
  /*nu vor fi puncte or marcari la elemente*/
  padding-right: 200px;
  margin: 0;
  display: flex;
  gap: 20px;
  /* rastaiania intre elemente */
}

.novbar-home {
  display: flex;
  color: #000000;
  opacity: 0.6;
  text-decoration: none;
  padding-right: 0px;
  transition: all .09s ease-in-out;

}

.navbar-menu li a {
  display: inline-block;
  color: #000;
  opacity: 0.6;
  /*prazracinii face*/
  text-decoration: none;
  padding: 20px;
  transition: all .09s ease-in-out;
}

.navbar-menu li a:hover {
  opacity: 1;
  /*il face din nou vizibil polnastiu*/

}

.novbar-home:hover {
  opacity: 1;
}

.navbar-telefon {
  /*panelea de sus pentru sait*/
  margin-top: 100px;
  width: 100%;
  height: 100%;
  box-shadow: 0px 4px 100px rgba(0, 0, 0, .1);
  display: flex;
  justify-content: space-between;
  /*primu element e in urma ultimul la sfirsit iar altele se pun intre ele intrun sir*/
  background: #fff;
  position: relative;
  z-index: 1000;
  /*elementul va fi deasupra elementelor cu z-index mai mic(aici nu trebuie) */


}

.navbar-telefon .container-telefon {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 70px;
}

.navbar-wrap-telefon {
  display: flex;
  margin-top: 40px;
  margin-left: 30px;

}

.navbar-brand-telefon {
  font-weight: 300;
  /*face textul gros*/
  font-size: 25px;
  /*face razmer texta in px care ii pun */
  color: #000;
  position: relative;
  top: 40px;
  margin-left: 40px;
}

.navbar-menu-info-telefon {
  display: flex;
  bottom: 30px;
  position: relative;
  margin-left: 130px;
  list-style-type: none;
}

.navbar-menu-info-telefon li a {

  margin-left: 50px;
  display: flex;
  color: #000;
  position: relative;
  bottom: 10px;
}



.navbar-wrap {
  padding-right: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}



.navbar-brand {
  padding-left: 40px;
  font-weight: 800;
  /*face textul gros*/
  font-size: 40px;
  text-decoration: none;
  color: #000;
  transition: all 0.2s ease-in-out;
}

.navbar-brand:hover {
  color: coral;
}

.navbar-menu-info {
  list-style-type: none;
  /*nu vor fi puncte or marcari la elemente*/
  padding-right: 16px;
  margin: 0;
  display: flex;
  gap: 20px;
}

.navbar-menu-info li a {
  display: inline-block;
  color: #000;
  opacity: 0.6;
  text-decoration: none;
  padding: 20px;
  transition: all .09s ease-in-out;
}

.navbar-menu-info li a:hover {
  opacity: 1;
}

.callback {
  margin-left: 30px;
  padding: 20px 40px;

  background-color: coral;
  border-radius: 100px;
  color: white;
  text-decoration: none;
  box-shadow: 0 10px 10px rgba(255, 127, 80, .2);
  transition: all .1s ease-out;
}

.callback:hover {
  transform: scale(1.04);
  box-shadow: 0 9px 9px rgba(255, 127, 80, .5);
}

.text-services-dizainer {
  padding-left: 138px;
  padding-top: 30px;
  font-size: 40px;



}

.text-services-dizainer-1 {
  font-size: 15px;
  opacity: 0.4;
  padding-left: 140px;
  padding-top: 30px;
  margin-bottom: 2%;
}

.text-services-dizainer-2 span {
  opacity: 0.7;
  padding-left: 35px;
  font-size: 18px;
  line-height: 25px;
}

.text__info {
  padding-top: 30px;
  background-color: rgb(227, 220, 218);
}

.all__product__info {
  border-radius: 50px;

  display: inline-block;
  margin: 10px;
  padding-right: 100px;
  margin-left: 220px;
  padding-bottom: 40px;
  margin-top: 100px;
  background-color: rgb(227, 220, 218);
  height: auto;


}

.text__name {
  text-align: center;
  margin-left: 190px;
  font-size: 30px;
  background-color: rgba(212, 212, 212, 0.405);
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.text__last {
  margin: 0px;
  background-color: rgb(227, 220, 218);
}

.text-services-dizainer-2 {
  padding-left: 7%;
  font-weight: normal;
  display: flex;
  width: 70%;



}

.images-services-dizainer {

  height: auto;
  border: 2px solid rgb(213, 213, 213);

  padding: 10px;
  margin-top: -40px;
  position: relative;



}

.image-container {
  position: relative;
  display: flexbox;
  margin-left: 20px;
  margin-top: -20px;

}

.image-container img {
  display: flexbox;

  margin-left: 100px;


}

/*jos e partea la catalog.html*/
.product {
  background-color: #ffffff;


  overflow: hidden;
  /*ascunde totul ce iesi din granitele conteinerului*/

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: auto;
}

.product img {
  width: 100%;
  height: 100%;
}

.product-principal {
  display: flex;


}

.product-grid {
  display: flex;
  /*elementele sunt intro setca*/
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /*sunt scrise parametrele pentru coloanele setchi*/
  padding-left: 10%;
  padding-top: 50px;

}

.bay-delivery {

  border: 1px solid;
  border-radius: 5px;

  display: inline-block;
  padding: 10px;
  list-style-type: none;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding-left: 35px;
  padding-right: 40px;
  background-color: rgb(160, 34, 192);
  transition: transform 0.3s ease;

}

.bay-delivery:hover {
  transform: scale(1.05);
}


.bay-basket {
  margin-top: 13px;
  border: 1px solid white;
  border-radius: 5px;
  list-style-type: none;
  display: inline-block;
  padding: 10px;
  padding-left: 35px;
  padding-right: 35px;

  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(160, 34, 192);
  background-color: #dbd0da;
  transition: transform 0.3s ease;
}

.bay-basket:hover {
  transform: scale(1.05);
}

.bay-text {
  margin-top: 63px;

  list-style-type: none;
  display: inline-block;
  padding: 10px;
  width: 300px;
  text-align: center;

  padding-right: 63px;

  font-size: 30px;

}

.bay-mesage {
  margin-top: 50px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  list-style-type: none;
  display: inline-block;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;


  color: rgb(255, 255, 255);
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;

  background-color: #373744;
  transition: transform 0.3s ease;
}

.bay-mesage:hover {
  transform: scale(1.05);
}


.box-bay {



  margin: 0;
  width: 400px;
  height: 500px;

}

.text-bay {
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  display: flex;
  color: #000000;



}

.teg-delete {
  text-decoration: none;
  color: inherit;

}

.teg-delete-1 {
  text-decoration: none;
  color: inherit;
  display: flex;

}

.teg-delete-2 {
  text-decoration: none;
  color: inherit;
  display: flex;
  text-align: center;


}

.sum-principal {

  margin-left: 90px;
  border: 1px solid black;
  display: inline-block;
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: rgb(255, 0, 0);
  background-color: #d8d8d8;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.coloboration {
  display: grid;
  width: 50%;
  height: 80px;
  margin-left: 30px;



}

.coloboration h2 {
  padding-left: 280px;
  height: 20px;

}

.coloboration img {
  width: 320px;
  height: 569px;

  margin-left: 20px;
  margin-bottom: 20px;
  border-radius: 10%;
  margin-top: 20px;
}

.Alina__text {
  display: flex;

  background-color: rgb(250, 237, 232);
  border-radius: 10%;

}

.Alina__text p {
  display: flex;
  margin-top: 60px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  padding-left: 20px;
  line-height: 30px;
  padding-right: 3%;

}

.coloboration__1 {
  margin-left: 200px;
  display: grid;
  width: 50%;
  height: 80px;
  margin-right: 30px;


}

.coloboration__all {
  display: flex;
  height: 650px;
  margin-top: 20px;
}

.coloboration__1 img {
  width: 320px;
  height: 569px;

  border-radius: 10%;

  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

.coloboration__1 h2 {
  padding-left: 220px;
  height: 20px;


}

.Marius__text {
  display: flex;

  background-color: rgb(250, 237, 232);
  border-radius: 10%;
}

.Marius__text p {
  display: flex;
  margin-top: 60px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  padding-left: 20px;
  line-height: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

@media (min-width: 1900px) and (max-width: 2561px) {
  .coloboration h2 {
    padding-left: 491px;
    height: 42px;
    font-size: 41px;
  }

  .Alina__text {
    height: 614px;
  }

  .Alina__text p {
    display: flex;
    margin-top: 101px;
    font-size: 42px;
    ;

    margin-left: 105px;
    line-height: 32px;
    padding-right: 4%;
    letter-spacing: 3px;
    font-family: initial;
  }

  .Marius__text p {
    display: flex;
    margin-top: 101px;
    font-size: 42px;

    margin-left: 105px;
    line-height: 32px;
    padding-right: 4%;
    letter-spacing: 3px;
    font-family: initial;
  }

  .Marius__text {
    height: 614px;
  }

  .coloboration__1 h2 {
    padding-left: 354px;
    height: 39px;
    font-size: 40px;
  }

  .navbar {
    height: 140px;
  }

  .navbar-brand {
    padding-left: 80px;
    font-weight: 900;
    font-size: 48px;
  }

  .navbar .container {
    justify-content: flex-start;
    margin-left: 100px;

  }

  .navbar-menu {
    gap: 100px;
    margin-left: 450px;
  }

  .navbar-menu-info {
    gap: 100px;
    margin-left: 450px;
  }

  .navbar-menu-info-telefon {
    gap: 40px;
    margin-left: 100px;
  }

  body {
    font-family: 'League Spartan', sans-serif;
    font-size: 25px;
    overflow-x: hidden;
  }

  .navbar-wrap-telefon {
    margin-top: 26px;
  }

  .navbar-menu-info-telefon li a {
    margin-left: 220px;
  }

  .text-services-dizainer {
    padding-left: 155px;
    padding-top: 47px;
    font-size: 43px;
  }

  .text-services-dizainer-1 {
    font-size: 22px;
    opacity: 0.4;
    padding-left: 162px;
    padding-top: 27px;
  }

  .text-services-dizainer-2 span {
    opacity: 0.7;
    padding-left: 12px;
    font-size: 23px;
    line-height: 29px;
  }

  .video {
    width: 798px;
    height: 428px;
    margin-left: 200px;
    margin-top: 50px;
  }

  .all__product__info {
    margin-left: 29%;
  }
}

@media (min-width: 900px) and (max-width: 1024px) {

  .navbar-wrap {
    gap: 43px;
  }

  .all__product__info {
    border-radius: 50px;
    display: inline-block;
    margin: 10px;
    padding-right: 100px;
    margin-left: 82px;
    padding-bottom: 40px;
    margin-top: 100px;
    background-color: rgb(227, 220, 218);
    height: auto;
  }

  .navbar-menu-info {
    gap: 24px;
    align-items: center;
  }

  .navbar-menu-info li a {
    font-size: 14px;
    display: inline-block;
    color: #000;
    opacity: 0.6;
    text-decoration: none;
    padding: 0px;
    transition: all .09s
  }

  html,
  body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Это предотвратит горизонтальную прокрутку */

  }


  .navbar-brand {
    padding-left: 28px;
    font-weight: 800;
    font-size: 23px;
  }

  .callback {
    margin-left: 24px;
    padding: 18px 21px;

  }

  .novbar-home {
    display: flex;
    color: #000000;
    opacity: 0.6;
    text-decoration: none;
    padding-right: 0px;
    transition: all .09s ease-in-out;
    font-size: 15px;
  }

  .Alina__text img {

    height: auto;
  }


  .coloboration {
    margin-left: 1%;
  }

  .coloboration__1 img {
    width: 224px;
    height: 415px
  }

  .Alina__text p {
    display: flex;
    margin-top: 27px;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 23px;
    line-height: 22px;
    padding-right: 3%;
  }

  .Marius__text p {
    display: flex;
    margin-top: 25px;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 27px;
    line-height: 22px;
    margin-right: 24px;
    margin-left: 10px;
  }

  .coloboration h2 {
    padding-left: 162px;
    height: 20px;
  }

  .coloboration__1 {
    margin-left: 9px;
    display: grid;
    width: 50%;
    height: 67px;
    margin-right: 30px;
  }

  .coloboration__1 h2 {
    padding-left: 137px;
  }

  .navbar-menu-info-telefon {

    margin-left: 15px;
    font-size: 14px;
  }

  .navbar-brand-telefon {
    font-weight: 300;
    font-size: 19px;
    color: #000;
    position: relative;
    top: 33px;
    margin-left: -8px;
  }

  .image-container img {
    margin-top: 30px;
    height: 168px;
    display: flexbox;
    margin-left: 22px;
    width: 263px;
  }

  .text-services-dizainer-2 span {
    opacity: 0.7;
    padding-left: 66px;
    font-size: 17px;
    line-height: 22px;
  }

  .product {
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    width: 373px;
    height: 372px;
  }

  .box-bay {
    margin: 0;
    width: 362px;
    height: 335px;
  }

  .text__name {
    text-align: center;
    margin-left: 135px;
    font-size: 26px;
    background-color: rgba(212, 212, 212, 0.405);
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .product-grid {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding-left: 10%;
    padding-top: 28px;
  }

  .bay-text {
    margin-top: 20px;
    list-style-type: none;
    display: inline-block;
    padding: 0px;
    width: 300px;
    text-align: center;
    padding-right: 64px;
    font-size: 30px;
  }

  .text__last {
    margin: 0px;
    padding: 0px;
    padding-left: 32px;
    background-color: rgb(227, 220, 218);
  }

  .bay-mesage {
    margin-top: 8px;
  }

  .sum-principal {
    margin-left: 90px;
    border: 1px solid black;
    display: inline-block;
    margin-top: 16px;
  }
}

@media (min-width: 560px) and (max-width: 768px) {

  html,
  body {

    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 13px;
    /* Это предотвратит горизонтальную прокрутку */
  }

  .navbar-menu-info li a {
    display: inline-block;
    color: #000;
    opacity: 0.6;
    text-decoration: none;
    padding: 17px;
    transition: all .09s ease-in-out;
  }

  .images-services-dizainer {

    display: none;
  }

  .text-services-dizainer {
    padding-left: 97px;
  }

  .all__product__info {
    border-radius: 50px;
    display: inline-block;
    margin: 10px;
    padding-right: 100px;
    margin-left: 13px;
    padding-bottom: 40px;
    margin-top: 90px;
    background-color: rgb(227, 220, 218);
    height: auto;
  }

  .product-grid {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding-left: 3%;
    padding-top: 44px;
  }

  .product {
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    width: 379px;
    height: 373px;
  }

  .text__last {
    margin: 0px;
    background-color: rgb(227, 220, 218);
    padding: 0px;
    padding-left: 21px;
  }

  .bay-text {
    margin-top: 16px;
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    width: 300px;
    text-align: center;
    padding-right: 63px;
    font-size: 21px;
  }

  .bay-mesage {
    margin-top: 13px;
  }

  .all__product__info {
    width: 655px;
    border-radius: 50px;
    display: inline-block;
    margin: 0px;
    padding-right: 100px;
    margin-left: 13px;
    padding-bottom: 40px;
    margin-top: 90px;
    background-color: rgb(227, 220, 218);
    height: 468px;
  }

  .sum-principal {
    margin-left: 66px;
    border: 1px solid black;
    display: inline-block;
    margin-top: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(255, 0, 0);
    background-color: #d8d8d8;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .navbar-wrap {

    gap: 0px;
  }

  .callback {
    font-size: 11px;
    margin-left: 11px;
    padding: 10px 30px;
    background-color: coral;
    border-radius: 100px;
    color: white;
    text-decoration: none;
  }

  .navbar-menu-info {
    font-size: 10px;
    list-style-type: none;
    padding-right: 16px;
    margin: 0;
    display: flex;
    gap: 0px;
  }

  .navbar-menu-info {
    padding: 0px;
    font-size: 10px;
    list-style-type: none;
    padding-right: 4px;
    margin: 0;
    display: flex;
    gap: 0px;
  }

  .navbar-brand {
    padding-left: 14px;
    font-weight: 800;
    font-size: 21px;
  }

  .callback {
    font-size: 11px;
    margin-left: 11px;
    padding: 12px 21px;
    background-color: coral;
    border-radius: 100px;
    color: white;
    text-decoration: none;
  }

  .navbar-menu {
    list-style-type: none;
    padding-right: 28px;
    font-size: 11px;

    margin: 0;
    display: flex;
    gap: 0px;
    align-items: center;
  }

  .Alina__text p {
    display: flex;
    margin-top: 77px;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
    line-height: 23px;
    padding-right: 2%;
  }

  .coloboration {
    display: grid;
    width: 44%;
    height: 80px;
    margin-left: 1px;
  }

  .coloboration img {
    width: 320px;
    height: 384px;
    margin-left: 11px;
    margin-bottom: 20px;
    border-radius: 10%;
    margin-top: 20px;
  }

  .Alina__text {
    display: flex;
    background-color: rgb(250, 237, 232);
    border-radius: 10%;
    width: 695px;
    margin-left: 28px;
  }

  .coloboration__1 {
    margin-left: 167px;
    display: none;
  }

  .navbar-brand-telefon {

    display: none;
  }

  .navbar-wrap-telefon {
    font-size: 12px;

    margin-left: -265px;
  }

  .coloboration h2 {
    padding-left: 306px;
    height: 20px;
    font-size: 23px;
  }
}

@media (min-width: 400px) and (max-width: 520px) {

  html,
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 13px;
    /* Это предотвратит горизонтальную прокрутку */
  }

  .slider {

    display: none;
  }

  .image-container img {
    display: none;
  }


  .text-info {
    font-weight: 100px;
    font-size: 20px;
    position: absolute;
    top: 0px;
    left: -17px;
    position: relative;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 461px;
    display: flex;
    background-color: #e9e9e9;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .text-info-a {
    font-weight: 20px;
    font-size: 12px;
    position: absolute;
    top: 150px;
    left: -32px;
    color: rgb(0, 0, 0);
    width: 96%;
    opacity: 0.8;
    /* font-size: smaller; */
  }

  .text__info__perfect-my {
    display: none;
  }

  .product-grid {

    grid-template-columns: repeat(auto-fill, minmax(126px, 1fr));

  }

  .navbar-brand-telefon {
    display: none;
  }

  .navbar-wrap-telefon {
    grid-column: auto;
    font-size: 10px;
    display: grid;
    margin-top: 40px;
    margin-left: -282px;

  }

  .navbar-brand {
    display: none;
  }

  .navbar {
    display: none;

  }

  .navbar__phone {
    display: flex;
  }

  .coloboration img {
    width: 0px;
    display: none;
  }

  .Alina__text img {
    width: 0px;
    display: none;
  }

  .coloboration__1 {
    display: none;
  }

  .coloboration__1 h2 {
    display: none;
  }

  .coloboration h2 {
    padding-left: 150px;
    height: 20px;
  }

  .coloboration {
    display: grid;
    width: 96%;
    height: 80px;
    margin-left: 19px;
  }

}